allow recovery apk_data_file:dir { getattr open read };
allow recovery apk_private_data_file:dir { getattr open read };
allow recovery app_data_file:lnk_file getattr;
allow recovery asec_image_file:dir { getattr open read };
allow recovery cache_backup_file:dir { getattr open read };
allow recovery cache_private_backup_file:dir { getattr open read };
allow recovery devpts:chr_file { getattr ioctl open read write };
allow recovery dm_device:chr_file { ioctl open read write };
allow recovery media_rw_data_file:dir { getattr open read relabelto };
allow recovery media_rw_data_file:file { relabelto };
allow recovery rootfs:dir { add_name create write };
allow recovery self:netlink_kobject_uevent_socket { bind create };
allow recovery selinuxfs:file write;
allow recovery sysfs:file getattr;
allow recovery sysfs_dm:dir { open read search };
allow recovery sysfs_dm:file { getattr open read };
allow recovery sysfs_vibrator:file { open write };
allow recovery system_prop:property_service set;
allow recovery system_radio_prop:property_service set;
allow recovery vold_prop:property_service set;
