[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = The heart :heart: of PBRP
[access "refs/*"]
	owner = group user/Manjot Sidhu (manjotsidhu)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Manjot Sidhu (manjotsidhu)
	label-Verified = -1..+1 group user/Manjot Sidhu (manjotsidhu)
	push = group user/Manjot Sidhu (manjotsidhu)
	read = group user/Manjot Sidhu (manjotsidhu)
	rebase = group user/Manjot Sidhu (manjotsidhu)
	removeReviewer = group user/Manjot Sidhu (manjotsidhu)
	submit = group user/Manjot Sidhu (manjotsidhu)
[access "refs/heads/*"]
	create = group user/Manjot Sidhu (manjotsidhu)
	push = +force group user/Manjot Sidhu (manjotsidhu)
	pushMerge = group user/Manjot Sidhu (manjotsidhu)
	read = group user/Manjot Sidhu (manjotsidhu)
[access "refs/tags/*"]
	push = group user/Manjot Sidhu (manjotsidhu)
	push = +force group user/Manjot Sidhu (manjotsidhu)
